* {
margin: 0;
padding: 0;
}

html {
height: 100%;
background: #eeffaa url(img/content-bg.png) repeat 0 0;
}

body {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 75%;
line-height: 1.6em;
color: #333;
}

a {
color: #00aa88;
}

#header-box,
#content-box {
width: 850px;
overflow: auto;
margin: 0 auto;
padding: 20px 0;
}

/*------------------------- header
----------------------------------*/

#header {
padding: 10px 0;
background: #00aa88 url(img/header-shadow.png) repeat-x 0 bottom;
}

#header h1 a {
display: block;
background: transparent url(img/transparencia-porto.png) repeat 0 0;
padding-top: 80px;
width: 344px;
height: 0;
overflow: hidden;
font-size: 10px;
}

/*------------------------- content
----------------------------------*/

#content {
padding: 20px 0;
}

#content #intro {
border-top: 6px solid #00aa88;
width: 500px;
padding: 12px 0;
}

#content p {
margin: 0 0 5px;
max-width: 500px;
font-size: 110%;
}










